:root {
  --theater-row: 0;
  --theater-col: 0;
}

.tsukimi-regular {
  font-family: "Tsukimi Rounded", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #48435C;
  color: #D3F6DB;
}

html, body {
  margin: 0;
  padding: 0;
}

body, button, select {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.double-em {
  font-size: 2em;
}

.one-em {
  font-size: 1em;
}

.hide {
  display: none;
}

h1 {
  text-align: center;
  color: #A1EF8B;
  margin: 0;
  padding: 16px 0;
}
h1 a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: none;
}

.movie--info .movie--trailer {
  position: relative;
}
.movie--info .movie--trailer #movie--trailer--access {
  background-image: url("../data/DUNE-PART-TWO_hero.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 16/9;
  cursor: pointer;
  border: none;
}
.movie--info .movie--trailer #movie--trailer--access span {
  display: inline-block;
  color: transparent;
  background-image: url("../data/playplay.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  height: 20%;
}
.movie--info .movie--trailer .external--trailer {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.movie--info .movie--trailer .movie--title--pop {
  position: absolute;
  bottom: 0;
  right: 0;
  width: max-content;
  padding: 4px 8px;
  margin: 0;
  background-color: #48435C;
  font-weight: 200;
}
.movie--info .movie--trailer .movie--title--post {
  font-weight: 200;
  margin: 0;
  text-align: center;
}
.movie--info .movie--quickfacts {
  display: flex;
  justify-content: space-around;
}
.movie--info .movie--quickfacts h3 {
  font-weight: 400;
  margin-bottom: 4px;
}
.movie--info .movie--quickfacts p {
  margin-top: 0;
}
.movie--info .movie--summary {
  background-color: #D3F6DB;
  color: #48435C;
  padding: 0 8px;
}
.movie--info .movie--summary p {
  margin: 0;
}

.theater {
  height: 60%;
  overflow: auto;
  border: 4px solid black;
}
.theater #theater--zoom {
  font-size: 1.5rem;
  border-radius: 50%;
  min-width: 56px;
  min-height: 56px;
  margin: 4px;
}
.theater .theater--screen--seats {
  overflow: auto;
  width: max-content;
  margin: 0 auto;
  padding: 36px;
}
.theater .theater--screen {
  width: 90%;
  height: 1em;
  background-color: black;
  margin: 8px auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.theater .theater--screen--label p {
  text-align: center;
  margin: 0;
  text-shadow: 0 0 1px;
  font-size: 1.2rem;
}
.theater .theater--seats {
  width: fit-content;
  margin: 0 auto;
  background-color: pink;
  display: grid;
  grid-template-columns: repeat(var(--theater-col), 2em);
  grid-template-rows: repeat(var(--theater-row), 2em);
  gap: 0.25em;
}
.theater .theater--seats--zoom {
  margin: 0 2em 0;
}
.theater .theater--seat {
  position: relative;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin: auto auto;
}
.theater .selected-seat {
  background-color: black;
}
.theater .theater--seat--popup {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 8px;
  display: none;
  position: absolute;
  z-index: 1;
  width: 6rem;
  left: -3rem;
  top: -5rem;
  font-size: 1.2rem;
  pointer-events: none;
  color: white;
  background-color: black;
}
.theater .theater--seat--popup--zoom {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 8px;
  display: none;
  position: absolute;
  z-index: 1;
  width: 8rem;
  left: -2.6666666667rem;
  top: -6rem;
  font-size: 1.5rem;
  pointer-events: none;
  color: white;
  background-color: black;
}

/*# sourceMappingURL=index.css.map */
