$lime-green: #D3F6DB;
$toy-blue: #92D5E6;
$light-green: #A1EF8B;
$english-violet: #48435C;
$charcol: #3E505B;

$popup-width: 6rem;
$popup-width-zoom: 8rem;
$popup-font: 1.2rem;
$popup-font-zoom: 1.5rem;

@mixin popup_shared($width: $popup-width, $fontSize: $popup-font, $top: -1 * ($popup-width - 1), $left: calc(-1 * $popup-width/2)) {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 8px;
    display: none;
    position: absolute;
    z-index: 1;

    width: $width;
    left: $left;
    top: $top;
    font-size: $fontSize;

    pointer-events: none;

    color: white;
    background-color: black;
}

:root {
    --theater-row: 0;
    --theater-col: 0;
}

.tsukimi-regular {
    font-family: "Tsukimi Rounded", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: $english-violet;
    color:$lime-green;
}

html, body {
    margin: 0;
    padding: 0;
}

body, button, select {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.double-em {
    font-size: 2em;
}
.one-em {
    font-size: 1em;
}
.hide {
    display: none;
}

h1 {
    text-align: center;
    color: $light-green;
    margin: 0;
    padding: 16px 0;
    a {
        text-decoration: none;
        color: inherit;
    }
}
nav {
    display: none;
}

.movie--info {
    .movie--trailer {
        position: relative;

        #movie--trailer--access {
            background-image: url('../data/DUNE-PART-TWO_hero.jpg');
            background-position: center;
            background-size: cover;
            width: 100%;
            aspect-ratio: 16/9;
            cursor: pointer;
            border: none;
            span {
                display: inline-block;
                color: transparent;
                background-image: url('../data/playplay.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 20%;
                height: 20%;
            }
        }
        .external--trailer {
            width: 100%;
            aspect-ratio: 16/9;
            overflow: hidden;
        }
        /*
        .movie--title {
            position: absolute;
            bottom: 0;
            right: 0;
            width: max-content;
            padding: 4px 8px;
            margin: 0;
            background-color: $english-violet;
            font-weight: 200;
        }*/
    }

    .movie--title {
        text-align: center;
    }

    .movie--quickfacts {
        display: flex;
        justify-content: space-around;

        h3 {
            font-weight: 400;
            margin-bottom: 4px;
        }
        p {
            margin: 0;
        }
    }
}

.theater{
    height: 60%;
    overflow: auto;
    border: 4px solid black;

    #theater--zoom {
        font-size: 1.5rem;
        border-radius: 50%;
        min-width: 56px;
        min-height: 56px;
        margin: 4px;
    }
    .theater--screen--seats {
        overflow: auto;
        width: max-content;
        margin: 0 auto;
        padding: 36px;
    }
    .theater--screen {
        width: 90%;
        height: 1em;
        background-color: black;
        margin: 8px auto;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    .theater--screen--label p {
        text-align: center;
        margin: 0;
        text-shadow: 0 0 1px;
        font-size: 1.2rem;
    }
    .theater--seats {
        width: fit-content;
        margin: 0 auto;

        background-color: pink;

        display: grid;
        grid-template-columns: repeat(var(--theater-col), 2em);
        grid-template-rows: repeat(var(--theater-row), 2em);
        gap: calc(1em/4);
    }
    .theater--seats--zoom {
        margin: 0 2em 0;
    }
    .theater--seat {
        position: relative;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        margin: auto auto;
    }
    .selected-seat {
        background-color: black;
    }
    .theater--seat--popup {
        @include popup_shared();
    }
    .theater--seat--popup--zoom {
        @include popup_shared($width: $popup-width-zoom, $fontSize: $popup-font-zoom, $top: -1 * ($popup-width-zoom - 2), $left: calc(-1 * $popup-width-zoom/3));
    }
}