$lime-green: #D3F6DB;
$toy-blue: #92D5E6;
$light-green: #A1EF8B;
$english-violet: #48435C;
$charcol: #3E505B;

$popup-width: 6rem;
$popup-width-zoom: 8rem;
$popup-font: 1.2rem;
$popup-font-zoom: 1.5rem;

@mixin popup_shared($width: $popup-width, $fontSize: $popup-font, $top: -1 * ($popup-width - 1), $left: calc(-1 * $popup-width/2)) {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 8px;
    display: none;
    position: absolute;
    z-index: 1;

    width: $width;
    left: $left;
    top: $top;
    font-size: $fontSize;

    pointer-events: none;

    color: white;
    background-color: black;
}

:root {
    --theater-row: 0;
    --theater-col: 0;
}

html {
    margin: 0;
    padding: 0;
}

.double-em {
    font-size: 2em;
}
.one-em {
    font-size: 1em;
}

.theater{
    height: 60%;
    overflow: auto;
    border: 4px solid black;

    #theater--zoom {
        font-size: 1.5rem;
        border-radius: 50%;
        min-width: 48px;
        min-height: 48px;
    }
    .theater--screen--seats {
        overflow: auto;
    }
    .theater--screen {
        width: 90%;
        height: 1rem;
        background-color: black;
        margin: 8px auto;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    .theater--screen--label p {
        text-align: center;
        margin: 0;
        text-shadow: 0 0 1px;
        font-size: 1.2rem;
    }
    .theater--seats {
        width: fit-content;
        margin: 0 auto;

        background-color: pink;

        display: grid;
        grid-template-columns: repeat(var(--theater-col), 2em);
        grid-template-rows: repeat(var(--theater-row), 2em);
        gap: calc(1em/4);
    }
    .theater--seats--zoom {
        margin: 0 2em 0;
    }
    .theater--seat {
        position: relative;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        margin: auto auto;
    }
    .selected-seat {
        background-color: black;
    }
    .theater--seat--popup {
        @include popup_shared();
    }
    .theater--seat--popup--zoom {
        @include popup_shared($width: $popup-width-zoom, $fontSize: $popup-font-zoom, $top: -1 * ($popup-width-zoom - 2), $left: calc(-1 * $popup-width-zoom/3));
    }
}